.containerMarks {
  display: flex;
  flex-direction: column;
  inline-size: 9.125rem;
  block-size: 19.5625rem;
  margin: 18.75rem auto 4rem auto;
  align-items: center;
  justify-content: space-between;
}

.containerMarks img {
  flex: 0 0 auto;
}

@media screen and (min-width: 750px) {
  .containerMarks {
    margin: 2.75rem auto 8rem 40%;
    block-size: 4.5625rem;
    flex-direction: row;
  }
}