.containerSing {
  background-image: url(../img/background.png);
  padding: 2.1875rem 1.25rem 19.3125rem 1.25rem;
}

.containerSing h2 {
  font: var(--headline4);
  color: var(--white);
  margin: 0 auto 1.5rem auto;
}

.containerSing p {
  font: var(--body2-regular);
  color: var(--grey);
  margin: 0 auto 1.5rem auto;
}

.containerSing p:nth-of-type(2) {
  text-decoration-line: underline;
  cursor: pointer;
  user-select: none;
}

.containerSing button {
  background: transparent;
  font: var(--button);
  color: var(--white);
  inline-size: 16.25rem;
  block-size: 3.25rem;
  border-radius: 0.5rem;
  border: 2px solid var(--white);
  margin: 0 auto 1.5rem auto;
  cursor: pointer;
}

.containerSing a {
  text-decoration: none;
}

@media screen and (min-width: 750px) {
  .containerSing {
    padding: 12.9375rem 1.25rem 13.125rem 40%;
  }
  .containerSing h2 {
    font: var(--headline3);
  }
  .containerSing p {
    font: var(--body1-regular);
  }
  .containerSing a {}
  .containerSing a button {}
  .containerSing p:nth-of-type(2) {}
}