.containerSection-1 {
  background-image: url(../img/background-2.png);
  padding: 4rem 1.25rem 4rem 1.25rem;
}

.containerSection-1 h2 {
  font: var(--headline5);
  color: var(--black);
  margin: 0 auto 1rem auto;
}

.containerSection-1 p {
  font: var(--body2-regular);
  color: var(--black);
  margin: 0 auto 4rem auto;
}

.containerSection-1 img {
  display: block;
  margin: auto;
}

@media screen and (min-width: 750px) {
  .containerSection-1 {
    padding: 0 1.25rem 0 40%;
    position: relative;
    block-size: 0;
  }
  .containerSection-1 div {
    block-size: 13.8125rem;
    position: absolute;
    inset-block-start: -22rem;
  }
  .containerSection-1 h2 {
    font: var(--headline2);
    color: var(--black);
    margin: 0 30% 1rem auto;
    block-size: auto;
  }
  .containerSection-1 p {
    font: var(--body1-regular);
    color: var(--black);
    margin: 0 35% auto auto;
    block-size: auto;
  }
  .containerSection-1 img {
    display: none;
  }
}