.containerSign-footer {
  margin: auto 1.25rem auto 1.25rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1.5rem;
  position: relative;
  inset-block-start: -80px;
}

.containerSign-footer h2 {
  font: var(--headline5);
  color: var(--black);
  margin: 0 auto 0.75rem auto;
  text-align: center;
}

.containerSign-footer p {
  text-align: center;
  font: var(--body2-regular);
  color: var(--black);
  margin: 0 auto 1.5rem auto;
}

.containerSign-footer button {
  background-color: var(--black);
  font: var(--headline5);
  color: var(--white);
  display: block;
  inline-size: 100%;
  padding: 0.75rem 0.625rem 0.75rem 0.625rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.containerSign-footer a {
  text-decoration: none;
}

@media screen and (min-width: 750px) {
  .containerSign-footer {
    margin: auto 10rem auto 10rem;
    padding: 4rem 14.36% 4rem 14.36%;
  }
}