.containerSection-4 {
  padding: 4rem 1.25rem 4rem 1.25rem;
}

.containerSection-4 h2 {
  font: var(--headline5);
  color: var(--black);
  margin: 0 auto 1rem auto;
}

.containerSection-4 p {
  font: var(--body2-regular);
  color: var(--black);
  margin: 0 auto 4rem auto;
}

.containerSection-4 img {
  display: block;
  margin: auto;
}

@media screen and (min-width: 750px) {
  .containerSection-4 {
    padding: 12.5rem 1.25rem 12.5rem 40%;
    position: relative;
    block-size: 41rem;
  }
  .containerSection-4 h2 {
    font: var(--headline2);
    margin: 0 48% 1.5rem auto;
    position: relative;
    inset-block-start: 23.5rem;
  }
  .containerSection-4 p {
    font: var(--body1-regular);
    margin: 0 60% auto auto;
    position: relative;
    inset-block-start: 24rem;
  }
  .containerSection-4 img {
    margin: auto auto 4rem 0;
    position: absolute;
    inset-block-start: 12.5rem;
  }
}