.containerSection-3 {
  background-color: var(--black);
  background-size: cover;
  background-position: -51%;
  padding: 4rem 0 3.546875rem 0;
}

.containerSection-3 h2 {
  font: var(--headline5);
  color: var(--white);
  margin: 0 auto 1rem auto;
  padding: 0 1.25rem 0 1.25rem;
}

.containerSection-3 p {
  font: var(--body2-regular);
  color: var(--white);
  margin: 0 auto 2.5rem auto;
  padding: 0 1.25rem 0 1.25rem;
}

.containerSection-3 span {
  display: inline-block;
  background-color: #E8E8E8;
  border-start-start-radius: 6.25rem;
  border-end-start-radius: 6.25rem;
  block-size: 2.5rem;
  inline-size: calc(100% - 1.25rem);
  position: relative;
  margin: 0 0 4rem 1.25rem;
}

.containerSection-3 span>span {
  display: inline-block;
  background-color: #2FB464;
  border-radius: 6.25rem;
  block-size: 2.5rem;
  inline-size: 12.830625rem;
  margin: 0;
}

.containerSection-3 img {
  display: block;
  margin: auto;
}

@media screen and (min-width: 750px) {
  .containerSection-3 {
    padding: 12.9375rem 0 15.4375rem 40%;
  }
  .containerSection-3 img {
    display: none;
  }
  .containerSection-3 h2 {
    font: var(--headline2);
    margin: 0 48% 1.5rem auto;
    padding: 0;
  }
  .containerSection-3 p {
    font: var(--body1-regular);
    margin: 0 50% 3.75rem auto;
    padding: 0;
  }
  .containerSection-3 span {
    inline-size: 100%;
    margin: 0;
  }
}
