@import url(/css/style-desktop.css);
@media screen and (max-width: 1050px) {
  .title-h1-white {
    color: white;
    font-size: 28px;
    font-weight: 800;
  }
  .title-h1-black {
    color: black;
    font-size: 28px;
    font-weight: 800;
  }
  .title-h2-black {
    color: black;
    font-size: 28px;
    font-weight: 800;
  }
  .title-h2-white {
    color: white;
    font-size: 28px;
    font-weight: 800;
  }
  p {
    color: grey;
    font-size: 18px;
    font-weight: 400;
  }
  .container-nav ul {
    display: none;
  }
  .container-input input {
    display: none;
  }
  .container-input {
    background-image: url(/icon/icon-menu.png);
    background-size: cover;
    width: 30px;
    height: 24px;
    margin: 7px 0;
  }
  .bg-1 {
    height: 697px;
  }
  .wrapper-bg-1 {
    max-width: 320px;
    max-height: 356px;
    padding: 35px 1.5% 210px 1.5%;
    margin: auto;
    position: relative;
  }
  .url-video iframe {
    width: 201px;
    height: 355px;
    position: absolute;
    top: 70px;
    left: 30px;
    border-radius: 8px;
  }
  .first-title {
    margin: auto;
  }
  .first-title h1 {
    margin: 0;
  }
  .first-title p {
    margin: 24px 0 24px 0;
  }
  .content-bg-1 input {
    margin: 24px 0 24px 0;
  }
  .img-mobile {
    background-image: url(/img/section-mobile.png);
    background-size: cover;
    width: 264px;
    height: 503px;
    position: absolute;
    top: 445px;
  }
  .container-mobile {
    display: none;
  }
  .bg-2 {
    height: 652px;
    position: relative;
  }
  .wrapper-bg-2 {
    /* max-width: 146px;
    max-height: 313px;*/
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
  }
  .container-trademarks {
    margin: 275px auto 64px auto;
    width: 146px;
    height: auto;
    justify-content: space-around;
  }
  .container-trademarks img {
    margin-bottom: 24px;
  }
  .image-article img {
    position: absolute;
    bottom: -315px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 360px;
  }
  .content-1 {
    display: none;
  }
  .image-article-mobile img {
    display: none;
  }
  .bg-3 {
    height: 767px;
    background-image: url(/img/background-3.png);
    background-size: cover;
    background-position: left;
  }
  .wrapper-bg-3 {
    width: auto;
    height: 936px;
    padding: 64px 20px 347px 20px;
  }
  .container-mobile-1 {
    display: block;
  }
  .container-mobile-1 img {
    display: block;
    margin: 64px auto;
  }
  .bg-3-1 {
    height: 822px;
    background-image: url(/img/background-3.png);
    background-size: cover;
    background-position: bottom;
  }
  .container-mobile-2 {
    display: block;
  }
  .container-mobile-2 img {
    display: block;
    margin: 64px auto 139px auto;
  }
  .bg-4 {
    height: 940px;
  }
  .wrapper-bg-4 {
    width: 100%;
    height: auto;
    padding: 64px 20px 704px 20px;
    margin: auto;
  }
  .content-bg-4 h2 {
    margin: 0;
  }
  .content-bg-4 p {
    margin-bottom: 0;
  }
  .container-mobile-3 {
    display: none;
  }
  .container-hr {
    position: absolute;
    width: 65.6%;
    height: 40px;
    right: 0;
    margin-top: 60px;
  }
  .container-hr hr {
    background-color: #E8E8E8;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    margin: 0 0 0 auto;
  }
  .container-hr .green {
    position: absolute;
    margin: 0 auto 0 0;
    width: 51%;
    height: 40px;
    background-color: #2FB464;
    border-radius: 100px;
  }
  .container-mobile-4 {
    display: block;
  }
  .container-mobile-4 img {
    margin: 144px auto 56px auto;
    display: block;
  }
  .bg-5 {
    height: 654px;
  }
  .wrapper-bg-5 {
    width: auto;
    height: auto;
    padding: 64px 20px 64px 20px;
    margin: auto;
  }
  .img-profile {
    display: none;
  }
  .img-profile-mobile {
    display: block;
  }
  .img-profile-mobile img {
    display: block;
    margin: 54px auto 0 auto;
  }
  .bg-6 {
    background-color: #ECEEF1;
    height: 2669px;
  }
  .users .wrapper-users {
    padding: 80px 20px 200px 20px;
  }
  .content-users {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .content-users div {
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    margin: 0 auto 131px 0;
    width: 100%;
    height: 439px;
  }
  .content-users div img {
    position: relative;
    top: -50px;
  }
  .lastesd-profile {
    display: block;
  }
  .content-singup {
    margin: auto;
    bottom: -120px;
    width: 64.2%;
    height: 188px;
  }
  .singup {
    margin: auto;
    max-width: 100%;
    height: auto;
    text-align: center;
  }
  footer {
    position: relative;
  }
  .bg-7 {
    height: 1016px;
  }
  .wrapper-footer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 200px 20px 128px 64px;
  }
  .content-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 340px;
    height: auto;
  }
  .container-footer {
    width: 340px;
    margin-top: 64px;
  }
  .div-social img {
    margin: 9.5px;
  }
  .content-footer h1 {
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
  .content-footer h2 {
    margin: 0 auto 4px auto;
  }
  .content-footer p {
    margin: 0;
  }
}