@import url(https://christianchilatra.github.io/FASTER---LeonidasEsteban.com//css/style-desktop.css);
@media screen and (max-width: 1350px) {
  .title-h1-white {
    color: white;
    font-size: 28px;
    font-weight: 800;
  }
  .title-h1-black {
    color: black;
    font-size: 28px;
    font-weight: 800;
  }
  .title-h2-black {
    color: black;
    font-size: 26px;
    font-weight: 700;
  }
  .title-h2-white {
    color: white;
    font-size: 26px;
    font-weight: 700;
  }
  p {
    color: grey;
    font-size: 16px;
    font-weight: 400;
  }
  .container-nav ul {
    display: none;
  }
  .container-input input {
    display: none;
  }
  .container-input {
    background-image: url(https://christianchilatra.github.io/FASTER---LeonidasEsteban.com/icon/icon-menu.png);
    background-size: cover;
    width: 30px;
    height: 24px;
    margin: 7px 0;
  }
  .background-1 {
    height: 697px;
  }
  .wrapper-background-1 {
    max-width: 320px;
    max-height: 356px;
    padding: 35px 1.5% 210px 1.5%;
    position: relative;
  }
  .url-video iframe {
    width: 201px;
    height: 355px;
    top: 70px;
    left: 30px;
  }
  .content-background-1 input {
    width: 100%;
    margin: 24px 0 24px 0;
  }
  .img-mobile {
    position: absolute;
    top: 445px;
  }
  .img-mobile img {
    width: 264px;
    height: 504px;
  }
  .background-2 {
    height: 856px;
  }
  .wrapper-background-2 {
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
  }
  .container-trademarks {
    margin: 275px auto 64px auto;
    width: 146px;
    height: auto;
    justify-content: space-around;
  }
  .container-trademarks img {
    margin-bottom: 24px;
  }
  .container-trademarks img[alt="mark-vogue"] {
    margin-bottom: 0;
  }
  .image-article img {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 360px;
  }
  .content-1 {
    display: none;
  }
  .background-3 {
    height: 936px;
    background-image: url(https://christianchilatra.github.io/FASTER---LeonidasEsteban.com/img/background-3.png);
    background-size: cover;
    background-position: left;
  }
  .wrapper-background-3 {
    max-width: 320px;
    max-height: 194px;
    padding: 64px 20px 1500px 20px;
  }
  .content-background-3-mobile {
    display: block;
  }
  .container-mobile-1 {
    display: block;
  }
  .container-mobile-1 img {
    display: block;
    margin: 64px auto;
    width: 264px;
    height: 504px;
  }
  .background-3-1 {
    height: 822px;
    background-image: url(https://christianchilatra.github.io/FASTER---LeonidasEsteban.com/img/background-3.png);
    background-size: cover;
    background-position: right;
  }
  .container-mobile-2 {
    display: block;
  }
  .container-mobile-2 img {
    display: block;
    margin: 64px auto auto auto;
    width: 264px;
    height: 504px;
  }
  .background-4 {
    height: 940px;
  }
  .wrapper-background-4 {
    width: 320px;
    height: 172px;
    padding: 64px 20px 704px 20px;
  }
  .container-hr {
    position: absolute;
    width: 74%;
    margin: 40px auto 64px auto;
  }
  .container-hr .green {
    width: 40%;
  }
  .container-mobile-3 {
    display: block;
  }
  .container-mobile-3 img {
    display: block;
    margin: 144px auto 56px auto;
    width: 264px;
    height: 504px;
  }
  .background-5 {
    height: 654px;
  }
  .wrapper-background-5 {
    max-width: 320px;
    max-height: 150px;
    padding: 64px 20px 440px 20px;
    margin: auto;
  }
  .img-profile {
    display: none;
  }
  .img-profile-mobile {
    display: block;
  }
  .img-profile-mobile img {
    display: block;
    margin: 54px auto 0 auto;
  }
  .background-6 {
    height: 2669px;
  }
  .wrapper-users {
    padding: 80px 20px 100px 20px;
  }
  .content-users {
    flex-wrap: wrap;
  }
  .content-users .content-user {
    margin: 0 auto 131px 0;
    width: 100%;
  }
  .content-users .latest-profile {
    display: block;
    width: 100%;
    margin: auto;
  }
  .content-singup {
    bottom: -100px;
    height: 188px;
  }
  .singup {
    max-width: 100%;
    height: auto;
  }
  .content-singup input {
    width: 100%;
  }
  .background-7 {
    height: 1016px;
  }
  .wrapper-footer {
    padding: 200px 20px 128px 20px;
    max-width: 256px;
  }
  .container-social .div-social {
    margin-top: 28px;
  }
  .content-footer {
    flex-wrap: wrap;
    width: 340px;
    height: auto;
  }
  .container-footer {
    width: 340px;
    margin-top: 64px;
  }
  .div-social img {
    margin: 9.5px;
  }
  .content-footer h1 {
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
  .content-footer h2 {
    margin: 0 auto 4px auto;
  }
  .content-footer p {
    margin: 0;
  }
}
